In [1]:
# import bs4 as bs
# import requests

# result = requests.get('https://git.generalassemb.ly/raw/rldaggie/sample-html/master/index.html')
# soup = bs.BeautifulSoup(result.content, 'lxml')

In [3]:
import pandas 
import requests
from bs4 import BeautifulSoup

In [7]:
res = requests.get('https://rldaggie.github.io/sample-html/')

In [8]:
res.status_code

200

In [10]:
res.connection

In [12]:
type(res.content)

bytes

In [14]:
soup = bs.BeautifulSoup(res.content, 'lxml')

In [19]:
soup.find('h1').text

'This is an h1'

In [27]:
for h1 in soup.find_all('h1'): 
    print (h1.text)

This is an h1
This is yet another heading.

In [28]:
[h1.text for h1 in soup.find_all('h1')]

['This is an h1', 'This is yet another heading.']

In [49]:
'''Just the todos list'''
todo_list = []
ol = soup.find('ol')
for li in ol.findAll('li'): 
    todo_list.append(li.text)
    
print (todo_list)

['Take out trash', 'Pay billz', 'Feed dog']

In [48]:
'''Code from Riley'''
import pandas as pd 

todos = []
for ol in soup.find_all('ol'):
    for li in ol.find_all('li'):
        todo = {}
        todo['task'] = li.text
        todos.append(todo)
pd.DataFrame(todos)

                      task
0           Take out trash
1                Pay billz
2                 Feed dog
3                 Mow lawn
4         Take out compost
5  Create scraping lecture

In [53]:
'''Code from Riley'''
for li in soup.find('ol', {'class': 'done'}).find_all('li'):
    print(li.text)

Mow lawn
Take out compost
Create scraping lecture

In [71]:
table = soup.find('table', {'id': 'directory'})

In [72]:
table

<table id="directory">
<thead>
<tr>
<th>Name</th>
<th>Role</th>
</tr>
</thead>
<tbody>
<tr class="student">
<th><a href="mailto:praveen@ga.co">Praveen



          </a></th>
<td>Student</td>
</tr>
<tr class="student">
<th><a href="mailto:fred@ga.co">Fred



          </a></th>
<td>Student</td>
</tr>
<tr class="student">
<th><a href="mailto:homer@ga.co">Homer



          </a></th>
<td><span class="foobar">Student</span></td>
</tr>
<tr class="student">
<th><a href="mailto:kyle@ga.co">Kyle



          </a></th>
<td>Student</td>
</tr>
<tr class="student">
<th><a href="mailto:sam@ga.co">Sam



          </a></th>
<td>Student</td>
</tr>
<tr class="student">
<th><a href="mailto:javier@ga.co">Javier



          </a></th>
<td>Student</td>
</tr>
<tr class="student">
<th><a href="mailto:nengkuan@ga.co">Nengkuan



          </a></th>
<td>Student</td>
</tr>
<tr class="student">
<th><a href="mailto:kieth@ga.co">Kieth



          </a></th>
<td>Student</td>
</tr>
<tr class="student">
<th><a href="mailto:bola@ga.co">Bola



          </a></th>
<td>Student</td>
</tr>
<tr class="student">
<th><a href="mailto:steve@ga.co">Steve



          </a></th>
<td>Student</td>
</tr>
<tr class="student">
<th><a href="mailto:nichole@ga.co">Nichole



          </a></th>
<td>Instructor</td>
</tr>
<tr class="student">
<th><a href="mailto:riley@ga.co">Riley



          </a></th>
<td>Instructor</td>
</tr>
</tbody>
</table>

In [80]:
'''Code from Riley'''
table = soup.find('table', {'id': 'directory'})
rows = table.find('tbody').find_all('tr')
names = []
for row in rows:
    print(row.find('a').text.strip())

Praveen
Fred
Homer
Kyle
Sam
Javier
Nengkuan
Kieth
Bola
Steve
Nichole
Riley

In [95]:
'''Code from Riley'''
student_dict = {}
table = soup.find('table', {'id': 'directory'})
rows = table.find('tbody').find_all('tr')
people = []
for row in rows:
    person = {}
#     print (row.find('a').text.strip())
#     print (row.find('td').text)
    person['Name'] = (row.find('td').text)
    people.append(person)
    
print (people)

[{'Name': 'Student'}, {'Name': 'Student'}, {'Name': 'Student'}, {'Name': 'Student'}, {'Name': 'Student'}, {'Name': 'Student'}, {'Name': 'Student'}, {'Name': 'Student'}, {'Name': 'Student'}, {'Name': 'Student'}, {'Name': 'Instructor'}, {'Name': 'Instructor'}]

In [102]:
'''Code from Riley'''

table = soup.find('table', {'id': 'directory'})
rows = table.find('tbody').find_all('tr')

people = []

for row in rows:
    person = {}
    person['Name'] = row.find('th').text.strip()
    person['Role'] = row.find('td').text
    people.append(person)
pd.DataFrame(people)

        Name        Role
0    Praveen     Student
1       Fred     Student
2      Homer     Student
3       Kyle     Student
4        Sam     Student
5     Javier     Student
6   Nengkuan     Student
7      Kieth     Student
8       Bola     Student
9      Steve     Student
10   Nichole  Instructor
11     Riley  Instructor

{'href': 'mailto:praveen@ga.co'}

In [108]:
'''Modified code by me (from Riley)'''


table = soup.find('table', {'id': 'directory'})
rows = table.find('tbody').find_all('tr')

people = []

for row in rows:
    person = {}
    person['Name'] = row.find('th').text.strip()
    person['Role'] = row.find('td').text
    people.append(person)
pd.DataFrame(people)

        Name        Role
0    Praveen     Student
1       Fred     Student
2      Homer     Student
3       Kyle     Student
4        Sam     Student
5     Javier     Student
6   Nengkuan     Student
7      Kieth     Student
8       Bola     Student
9      Steve     Student
10   Nichole  Instructor
11     Riley  Instructor

In [127]:
'''Modified code by me (from Riley)'''


table = soup.find('table', {'id': 'directory'})
rows = table.find('tbody').find_all('tr')

people = []

for row in rows:
    person = {}
    person['Name'] = row.find('th').text.strip()
    person['Role'] = row.find('td').text
    person['Email'] = row.find('a').attrs['href'].split(':')[1]

    people.append(person)
pd.DataFrame(people)

             Email      Name        Role
0    praveen@ga.co   Praveen     Student
1       fred@ga.co      Fred     Student
2      homer@ga.co     Homer     Student
3       kyle@ga.co      Kyle     Student
4        sam@ga.co       Sam     Student
5     javier@ga.co    Javier     Student
6   nengkuan@ga.co  Nengkuan     Student
7      kieth@ga.co     Kieth     Student
8       bola@ga.co      Bola     Student
9      steve@ga.co     Steve     Student
10   nichole@ga.co   Nichole  Instructor
11     riley@ga.co     Riley  Instructor

In [128]:
test = soup.find('a').attrs
test

{'href': 'mailto:praveen@ga.co'}

In [129]:
test['href'].split(':')[1]

'praveen@ga.co'

In [130]:
res = requests.get('https://www.basketball-reference.com/')

In [132]:
soup = bs.BeautifulSoup(res.content, 'lxml')

In [136]:
res.status_code

200

In [137]:
conferences = ['East', 'West']

In [140]:
table_e = soup.find('table', {'id': 'confs_standings_E'})
table_w = soup.find('table', {'id': 'confs_standings_W'})

In [150]:
# table_e_body = table_e.find('tbody').find_all('tr')
# table_e_body

In [149]:
# conferences = ['East', 'West']
# conference = conferences[0]
# conference
# table = soup.find('table', {'id': 'confs_standings_{}'.format(conference[0])})
# print(table)

In [174]:
'''Final Code'''
conferences = ['East', 'West']
teams = []

# conference = conferences[0]
for conference in conferences: 

    table = soup.find('table', {'id': 'confs_standings_{}'.format(conference[0])})
    rows = table.find('tbody').find_all('tr')
    for team_row in rows:
        team = {}
        team['Slug'] = team_row.find('a').text
        team['Name'] = team_row.find('a').attrs['title']
        team['Rank'] = int(team_row.find('span').text.strip()[1:-1])
        team['Win'] = int(team_row.find('td', {'data-stat' : "wins"}).text.strip())
        team['Losses'] = int(team_row.find('td', {'data-stat' : "losses"}).text.strip())



        teams.append(team)
pd.DataFrame(teams)

    Losses                    Name  Rank Slug  Win
0        2          Boston Celtics     1  BOS    5
1        2           Orlando Magic     1  ORL    5
2        2      Washington Wizards     3  WAS    4
3        2         Toronto Raptors     3  TOR    4
4        3         Detroit Pistons     5  DET    5
5        3          Indiana Pacers     6  IND    4
6        3       Charlotte Hornets     6  CHO    4
7        3         Milwaukee Bucks     6  MIL    4
8        3         New York Knicks     9  NYK    3
9        4      Philadelphia 76ers    10  PHI    3
10       4     Cleveland Cavaliers    10  CLE    3
11       5           Brooklyn Nets    12  BRK    3
12       4              Miami Heat    13  MIA    2
13       4           Chicago Bulls    14  CHI    1
14       6           Atlanta Hawks    15  ATL    1
15       2       Memphis Grizzlies     1  MEM    5
16       2    Los Angeles Clippers     2  LAC    4
17       3         Houston Rockets     3  HOU    5
18       3   Golden State Warriors     3  GSW    5
19       3       San Antonio Spurs     5  SAS    4
20       3   Oklahoma City Thunder     5  OKC    4
21       3               Utah Jazz     5  UTA    4
22       3  Minnesota Timberwolves     5  MIN    4
23       3  Portland Trail Blazers     5  POR    4
24       4            Phoenix Suns    10  PHO    3
25       4          Denver Nuggets    10  DEN    3
26       4    New Orleans Pelicans    10  NOP    3
27       4      Los Angeles Lakers    10  LAL    3
28       6        Sacramento Kings    14  SAC    1
29       7        Dallas Mavericks    15  DAL    1