# Variables
---

### Declaring

In [6]:
my_name = 'Ajinth'

### Output

In [7]:
my_name

'Ajinth'

### Printing

In [8]:
print (my_name)

Ajinth

### Overwriting variables

In [15]:
my_name = 'Christudas'

In [16]:
my_name

'Christudas'

In [17]:
my_name = my_name + " Ajinth"

In [18]:
my_name

'Christudas Ajinth'

# Numbers
---

### Integers vs Floats

In python, there are two types of numbers. Integers and floats. Integers are whole numbers (e.g. 1, 2, 3), whereas floats have decimals (e.g. 1.2, 0.5, etc)

In [19]:
1

1

In [20]:
1.4

1.4

### Casting floats as integers (and vice versa)
Occasionally, you might need to convert an integer to a float (or vice versa). This is especially important when you get into division.

In [21]:
float(1)

1.0

In [22]:
int (3.9)

3

In [23]:
1 * float(3.5)

3.5

In [24]:
10 / 3

3.3333333333333335

## Basic Math
Math is very straightforward in Python. + adds, - subtracts, / divides, and * multiplies.

### Addition/Incrementing

In [25]:
counter =0

In [26]:
counter = counter + 1

In [27]:
counter

1

In [28]:
counter += 1

In [29]:
counter

2

### Subtraction/Decrementing

In [30]:
dcounter = 10

In [31]:
dcounter = dcounter - 1

In [32]:
dcounter

9

In [33]:
dcounter -= 1

In [34]:
dcounter

8

### Multiplication

In [35]:
a =1.5 
b = 2.5 
c = a*b 
c

3.75

### Division

In [36]:
a =1.5 
b = 2.5 
c = a/b
c

0.6

### Dividing integers vs Floats

In [38]:
c = int(3)/float(4.5)
c

0.6666666666666666

### Modulo Operations
In computing, the modulo operation finds the remainder after division of one number by another.

In [39]:
10 % 2

0

In [40]:
10 % 4

2

# Strings
---
In Python, a string is used for text. It's important to use quotes when denoting a string, otherwise you'll get an error. 

**Note**: Strings can use single or double quotes

In [41]:
my_name

'Christudas Ajinth'

## Concatenation
You can combine multiple strings into one string through concatenation

In [42]:
first_name = 'Ajinth'
last_name = 'Christudas'
full_name = first_name + ' ' + last_name
full_name

'Ajinth Christudas'

## Interpolation
Interpolation is when you inject one or more strings into another (think mad libs).

In [43]:
'Hello {}, how are you?' .format(my_name)

'Hello Christudas Ajinth, how are you?'

In [44]:
' DSI is {}, I {} General Assembly'.format('Awesome', 'Love')

' DSI is Awesome, I Love General Assembly'

## Upper/Lowercase

In [45]:
my_name.lower()

'christudas ajinth'

In [46]:
my_name.upper()

'CHRISTUDAS AJINTH'

In [48]:
my_name.title()

'Christudas Ajinth'

## Indexing characters

In [49]:
my_name[0:5]

'Chris'

In [50]:
my_name[-1]

'h'

In [53]:
my_name[:3]

'Chr'

## Range of Characters

In [54]:
my_name[:-1]

'Christudas Ajint'

In [55]:
my_name[4:]

'studas Ajinth'

## Splitting
We can break a string up into lists using the `split` method.

### Splitting on spaces

In [56]:
my_name.split()

['Christudas', 'Ajinth']

### Splitting on character(s)

In [57]:
list(my_name)

['C',
 'h',
 'r',
 'i',
 's',
 't',
 'u',
 'd',
 'a',
 's',
 ' ',
 'A',
 'j',
 'i',
 'n',
 't',
 'h']

# Dictionaries
---

In [61]:
me = {'first_name': 'Ajinth', 
      'last_name': 'Christudas',
       'profession': 'IT Consultant'}
me

{'first_name': 'Ajinth',
 'last_name': 'Christudas',
 'profession': 'IT Consultant'}

## Accessing values from a dictionary

In [62]:
me['first_name']

'Ajinth'

In [63]:
me.values()

dict_values(['Ajinth', 'Christudas', 'IT Consultant'])

In [64]:
me.keys()

dict_keys(['first_name', 'last_name', 'profession'])

### Adding key/value pairs to a dictionary

In [66]:
me['Hobbies'] = 'Running'

In [69]:
me

{'first_name': 'Ajinth', 'last_name': 'Christudas', 'profession': 'IT Consultant', 'Hobbies': 'Running'}

### Removing key/value pairs

In [70]:
me.pop('Hobbies')

'Running'

In [71]:
me

{'first_name': 'Ajinth', 'last_name': 'Christudas', 'profession': 'IT Consultant'}

In [72]:
more_stuff = {'Hobbies': 'Running'}

In [73]:
more_stuff

{'Hobbies': 'Running'}

### Using `.update()` to combine dictionaries

In [74]:
me.update(more_stuff)

In [75]:
me

{'first_name': 'Ajinth', 'last_name': 'Christudas', 'profession': 'IT Consultant', 'Hobbies': 'Running'}

# Lists
---

In [77]:
my_list = [12,123,123,323,434]

### Indexing

In [79]:
my_list[0]

12

### Slicing

In [80]:
my_list[0:3]

[12, 123, 123]

### Appending

In [82]:
my_list.append(2345)
my_list

[12, 123, 123, 323, 434, 2345, 2345]

### Extending

In [83]:
my_list.append([5,6,7])
my_list

[12, 123, 123, 323, 434, 2345, 2345, [5, 6, 7]]

In [85]:
my_list.extend([3,3,3])
my_list

[12, 123, 123, 323, 434, 2345, 2345, [5, 6, 7], 3, 3, 3, 3, 3, 3]

### Removing

In [87]:
my_list.remove(12)

### Sorting

In [90]:
my_list1 = [123,3,4,5]
my_list1.sort(reverse=True)
my_list1

[123, 5, 4, 3]

## Creating lists from ranges

*NOTE*: Ranges are different from Python 2 to 3

In [93]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Tuples
---
Tuples are like lists, except you can't change them once they're created. The scrabble word for this is "immutable".

In [94]:
a = (1,2,34)
a

(1, 2, 34)

# Sets
---
Sets are like lists, except they will only retain the **unique** values in a list.

In [96]:
seta = set(a)
seta

{1, 2, 34}

# Booleans
---

In [103]:
True

True

In [104]:
False

False

# Boolean Expressions
---
Boolean expressions are "truth tests" that either evaluate to `True` or `False`

### Equality

In [102]:
a = 1 
b = 1 
a == b

True

### Greater Than

In [101]:
a = 1 
b = 1 
a > b

False

### Greater than or equal to

In [105]:
a = 1 
b = 1 
a >= b

True

### Less Than

In [106]:
a = 10 
b = 20 
a < b

True

### Less Than or equal to

In [107]:
a = 10 
b = 20 
a <= b

True

### Not equals

In [108]:
1 != 2

True

### Modulo Expressions

In [109]:
10%2

0

In [110]:
10%3

1

### "in"

In [115]:

'a' in 'ajinth'

True

In [116]:
123 in my_list

True

### Logical and

In [117]:
'a' in 'ajinth' and 123 in my_list

True

### Logical or

In [118]:
'z' in 'ajinth' or 123 in my_list

True

### Not True/Not False

# Conditionals
---

### If Statements

In [126]:
a = 1
if a <=10: 
    print (a)

1

### If/Else

In [128]:
a = 1
if a > 10: 
    print (a)
else: 
    print ('In the else Loop')

In the else Loop

### If/Elif/Else

In [130]:
a = 5 

if a<5: 
    print ('a is not 5')
elif a ==5:
    print ('a is 5')
else: 
    print ('Nothing to Find')

a is 5

# Functions
---

### Declaring vs Invoking

In [135]:
# Declaring a function - Setting up the function 
# Invoking a function - Calling a function 
def greeting(): 
    print ('Hello World')
greeting()

Hello World

### Functions with paramenters

In [136]:
def greet_cohort(cohort): 
    print ('Hello' + ' ' + cohort)
    
greet_cohort('Ajinth')

Hello Ajinth

In [140]:
def greet_cohort(cohort): 
    print ('Hello {}'.format(cohort))
    
greet_cohort('Ajinth')

Hello Ajinth

# For loops
---

In [142]:
for i in range(10): 
    print (i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [144]:
names = ['Ajinth', 'Joe', 'Dhaya']
for name in names: 
    print (name)

Ajinth
Joe
Dhaya

In [150]:
names = ['Ajinth', 'Joe', 'Dhaya', 'Christudas']
new_names = []
for name in names:
    new_names.append(name[0])
print (new_names)

['A', 'J', 'D', 'C']

# While loops
---

In [151]:
a = 1 
while a < 10: 
    print ('Value of a is {}'.format(a))
    a += 1 
print ('I am out of the while loop')

Value of a is 1
Value of a is 2
Value of a is 3
Value of a is 4
Value of a is 5
Value of a is 6
Value of a is 7
Value of a is 8
Value of a is 9
I am out of the while loop

In [152]:
for i in range(10): 
    print ('Hi Mom')

Hi Mom
Hi Mom
Hi Mom
Hi Mom
Hi Mom
Hi Mom
Hi Mom
Hi Mom
Hi Mom
Hi Mom

# Challenges

In [163]:
my_age=15
if my_age < 18: 
    print ('You can neither drink nor vote')
elif my_age>=18 and my_age <21: 
    print ('You can vote but not drink')
else:
    print('You can vote and drink')

You can neither drink nor vote

In [173]:
total_score =45 
if total_score <=23: 
    print ('Green')
elif total_score >23 and total_score <=44: 
    print ('Amber')
else: 
    print ('Orange')

Orange

In [176]:
def scale(total_score): 
    if total_score <=23: 
        print ('Green')
    elif total_score >23 and total_score <=44: 
        print ('Amber')
    else: 
        print ('Orange')
    
scale(23)
scale(44)
scale(65)

Green
Amber
Orange

In [177]:
dna = "ACGT"

In [183]:
rna = dna.replace('T', 'U')
print (rna)

ACGU

In [187]:
dna = "ACGT"
rna =''
for letter in dna: 
    if letter == 'T': 
        rna += 'U'
    else: 
        rna += letter
rna

'ACGU'

In [190]:
nlist = [-3,0,4,10,-5,-20,99]
counter = 0 
for n in nlist: 
    if n < 0: 
        continue 
    else: 
        counter += n 
print (counter)

113

In [194]:
name = 'AJINTH'
if name == name.upper(): 
    print ('Yes the string is upper case')
else: 
    print ('The string is not upper case')

Yes the string is upper case

##  Break is used to break out of a loop 
## Continue is used to continue into the loop